*{
    margin: 0px;
    padding: 0px;
}
#landingpage{
    width: 100%;
}
#pageOne{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/background-with-simple-white-walls-plant_23-2151020028.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8e8e8;
}
#logo{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline;
    /* padding-top: 10px; */
}
#logo h2{
    display: inline;
}
.com{
    color: #0fc7ff;
    font-family: Brush Script MT;
    font-size: 35px;
    font-weight: lighter;
}
#navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation ul{
    list-style: none;
}
#navigation ul li{
    display: inline;
    margin-right: 50px;
}
#navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#textnav{
    display: inline;
}
#textnav li a:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid goldenrod;
}
#navigation ul li button{
    border-radius: 20px;
    padding: 8px;
    background-color: yellow;
}
#navigation ul li button:hover{
    background: linear-gradient(90deg, #5D54A4, #7C78B8);	
    color: #fff;
}
#btndiv{
    display: inline;
}
#btndiv:hover{
    padding-bottom: 8px;
    border: none;
}
#body{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center; 
  text-align: left;
   
}
#collaboration{
    color: #0fc7ff;
}
#heading{
    margin-top: 80px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.5;
}
#description{
    text-align: center;
    width: 50%;
    margin: 40px auto;
}
#buttons{
    width: 25%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000;
    height: 55px; */
}
.btns{
    border-radius: 20px;
    padding: 8px 13px;
    background:#B4C9C2;
}
.btns:hover{
    background: linear-gradient(90deg, #5D54A4, #7C78B8);	
    color: #fff;
}
#about{
    height: 60vh;
    width: 100%;
    background: #7B8793;
}
#footer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #7B8793;
    padding-bottom: 20px;
    
}
#footerdescription{
    width: 100%;
    height: 90%;
    margin: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box1{
    width: 30%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box1 p{
    margin: 20px 25px;
}
#box2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box3{
    width: 30%;
    height: 100%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#phone ul{
    margin-top: 15px;
    display: flex;
    list-style: none;
}
#phone ul li img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#email ul{
    margin-top: 15px;
    display: flex;
    list-style: none;
}
#email ul li a{
    text-decoration: none;
    color: #000;
}
#email ul li img{
    border-radius: 50%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
#list ul{
    margin-top: 15px;
    list-style: none;
    display: flex;
}
#list ul li a{
    text-decoration: none;
    margin: 0px 5px;
}
#list ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.signinbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid #5C5696;
    border-radius: 20px;
    background: #fff;
    margin: 10px 0;
}
.signinbox input{
    border: none;
    outline: none;
}
.signinbox img{
    padding: 5px;
    height: 10px;
    width: 10px;
}
#navigation #profile img{
    height: 25px;
    width: 25px;
    border: 2px solid #5C5696;
    border-radius: 50%;
}
#navigation li a #notification{
    height: 15px;
    width: 15px;
    /* border: 2px solid #5C5696; */
    border-radius: 50%;
}
#collab{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLbakgGM7KO9P4HROTxvTn6en1oc4pn0CdNtoJkm9lN-KXIUe5a-SKfKE-GxJoOWRyxbE&usqp=CAU");
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover; */
    background-attachment: fixed;
}
.divs{
    margin-top: 20px;
    height: 40vh;
    width: 65%;
    border-radius: 45px;
    background: #AFB2B7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divs:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 20px gray;
}
.divsimg{
    width: 30%;
    height: 100%;
    /* background: #000; */
    border-radius: 45px 0px 0px 45px;
}
.divsimg img{
    height: 100%;
    width: 100%;
    border-radius: 45px 0px 0px 45px;
}
.divsdescription{
    width: 70%;
    height: 100%;
    border-radius: 0px 45px 45px 0px;
    /* background: #946060; */
    padding-left: 30px;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divsheading{
    height: 16vh;
    width: 100%;
    text-align: center;
    margin-top: 8vh;
    /* padding-top: 70px; */
    /* background-color: #7B8793; */
}
.divssubheading{
    margin-top: 0vh;
    height: 20vh;
    width: 100%;
    /* background-color: #7B8793; */
}
.btnclass button{
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #B4C9C2;
}
#fontChange{
    margin-top: 70px;
    margin-left: 30px;
    font-size: 60px;
    font-weight: 500;
    font-family: Lucida Handwriting;
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
}
#secondLine{
    margin-left: 50px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
#divmake{
    margin-top: 80px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 700;
}
#here{
    margin-left: 50px;
    color: #0fc7ff;
}
.btnclass{
    display: flex;
    justify-content: space-around;
    align-items: center;
}